.drop-down-menu{
    background-color: var(--cor5);
    border: 2px solid var(--cor4);
    border-radius:3px;
    position: relative;
    

}
[data-dropMenu="menuDrop"]{
    position: relative;

}
.drop-down-menu>li>a{
    text-decoration: none;
    color:var(--cor4);
    font-family: "IBM Plex Mono",monospace;
    text-transform: uppercase;
    font-weight:bold;
    font-size:0.875rem;
    letter-spacing: 1.5px;
    padding: 10px 20px 20px 10px;
    display: block;
}
.drop-down-menu>li>a:hover{
    color: var(--cor6);

}
.drop-down-menu::before{
    content: "â®";
    font-size: 35px;
 
    color: var(--cor5);
    position:absolute;
       bottom:170px ;
}
/* .menu>nav>ul>[data-dropMenu='menuDrop']>ul{
    position: absolute;
} */