


.modal{
    background-color: white;
    width: 320px;
    height: 320px;
    border-radius:5px;
    position: absolute;
    

}
.modal>button{
    background-color: red;
    border-radius: 999px;
    width:20px ;
    height: 20px;
    border:none;
}
.borda_do_modal{
    border: 15px solid orange;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    justify-items: center;
  

}
.borda_do_modal>label{
    color: gray;
    font-size: 1rem ;
    display: block;

}

.borda_do_modal>button{
  
    background-color: red;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 80px;
    height:40px;
    border-radius:6px;

}






